version: 2
jobs:
  deploy-staging:
    docker:
      - image: govau/cf-cli
    steps:
      - checkout
      - run:
          name: Deploying to cloud.gov.au
          command: |
            cf login -a $CF_API_STAGING -o $CF_ORG -s $CF_SPACE -u $CF_USERNAME -p $CF_PASSWORD_STAGING
            cp config/stag_manifest.yml site/manifest.yml
            cd site
            cf zero-downtime-push original-ausgov -f manifest.yml
      - run:
          name: Purging Fastly cache
          command: sh purge-cache.sh $FASTLY_URL_STAGING
  deploy-prod:
    docker:
      - image: govau/cf-cli
    steps:
      - checkout
      - run:
          name: Deploying to cloud.gov.au
          command: |
            cf login -a $CF_API_PROD -o $CF_ORG -s $CF_SPACE -u $CF_USERNAME -p $CF_PASSWORD_PROD
            cp config/prod_manifest.yml site/manifest.yml
            cd site
            cf zero-downtime-push original-ausgov -f manifest.yml
      - run:
          name: Purging Fastly cache
          command: sh purge-cache.sh $FASTLY_URL_PROD
workflows:
  version: 2
  deploy:
    jobs:
      - deploy-staging:
          filters:
            branches:
              only:
                - develop
                - /infoupdate\/.*/
      - deploy-prod:
          filters:
            branches:
              only:
                - master
