.au-footer a {
  text-decoration: none !important;
}

.au-footer li + li {
  margin-top: 8px;
}

.essential-information__list {
  padding: 32px;
  padding: 2rem;
  background: #f5f5f5;
  position: relative;
  border-radius: 4px;
  max-width: 42em;
}
.essential-information__list li {
  list-style: none;
  position: relative;
  padding: 16px 0 0 16px;
  padding: 1rem 0 0 1rem;
}

.essential-information__list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 28px;
  margin-right: 5px;
  width: 4px;
  height: 4px;
  background-color: #0073ec;
  border-radius: 4px;
}
.essential-information__list:before {
  content: "";
  box-sizing: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #0073ec;
  width: 50px;
}
.essential-information__list:after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  top: 0;
  right: 0;
  height: 5px;
  background-color: #183052;
  width: calc(100% - 50px);
}

main  {
  padding: 2rem 0;
}

.au-breadcrumbs + h2 {
  margin-top: 1.5rem !important;
  margin-top: 24px;
}

.au-footer {
  background-color: #101012 !important;
}
