.au-footer a {
  text-decoration: none !important;
}

.au-footer li + li {
  margin-top: 8px;
}

.essential-information__list {
  padding: 32px;
  padding: 2rem;
  background: #f5f5f5;
  position: relative;
  border-radius: 4px;
  max-width: 42em;
}
.essential-information__list li {
  list-style: none;
  position: relative;
  padding: 16px 0 0 16px;
  padding: 1rem 0 0 1rem;
}

.essential-information__list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 28px;
  margin-right: 5px;
  width: 4px;
  height: 4px;
  background-color: #0073ec;
  border-radius: 4px;
}
.essential-information__list:before {
  content: "";
  box-sizing: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #0073ec;
  width: 50px;
}
.essential-information__list:after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  top: 0;
  right: 0;
  height: 5px;
  background-color: #183052;
  width: calc(100% - 50px);
}

main  {
  padding: 2rem 0;
}

.au-breadcrumbs + h2 {
  margin-top: 1.5rem !important;
  margin-top: 24px;
}

.au-footer {
  background-color: #101012 !important;
}

.au-header.au-header--dark {
  padding: 0 0 48px 0;
  padding: 0 0 3rem 0;
}

.sitewide-alert {
  display: none;
  background: #dc3548;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  padding: 20px 60px 20px 80px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;

}

.sitewide-alert.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.sitewide-alert i.info {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 60px;
  height: 100%;
  background: url(resources/icon-alert-circle.svg) no-repeat;
  background-color: rgba(0, 0, 0, .2);
  background-size: 20px;
  background-position: 50%
}

.sitewide-alert button.close {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 60px;
  height: 100%;
  border: 0;
  background: url(resources/icon-close.svg) no-repeat;
  background-color: rgba(0, 0, 0, .2);
  background-size: 18px;
  background-position: 50%;
  text-indent: -9999px
}

.sitewide-alert p {
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0 20px 0 0
}

@media (max-width:63.9375em) {
  .sitewide-alert p+p {
      margin-top: 16px
  }
}

.sitewide-alert a {
  color: #fff;
  text-decoration: underline;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 700;
  position: relative;
  padding: 0 20px 0 0
}

.sitewide-alert a:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  background: url(resources/arrow-right-white.svg) no-repeat;
  background-size: 14px;
  width: 14px;
  height: 14px;
  -webkit-transition: all .3s;
  transition: all .3s
}

.sitewide-alert a:focus,
.sitewide-alert a:hover {
  text-decoration: none
}

.sitewide-alert a:focus:before,
.sitewide-alert a:hover:before {
  right: -5px
}

@media (max-width:63.9375em) {
  .sitewide-alert a {
      padding-left: 0
  }
}

@media (max-width:47.9375em) {
  .sitewide-alert {
      padding-top: 20px;
      padding-right: 0;
      padding-bottom: 20px
  }
  .sitewide-alert p {
      line-height: 1.5
  }
}

.au-header .logo {

  padding: 24px 0;
}
.au-header.au-header--dark {
  padding: 0;
  background: #000 !important;
}
