.social-list li {
  list-style-type: none;
  display: inline-block;
  height: 44px;
}

.social-list li a {
  height: 44px;
  width: 44px;
  display: inline-block;
  position: relative;
  top: 0;
}

.social-list li + li {
  margin-left: 10px;
}



.social-list {
  padding-left: 0;
}

@media only screen and (max-width: 1024px) {
  .social-list {
    margin-left: -8px;
  }
}

  .social-list img {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 11px;
    top: 11px;
  }
}

.social-list img {
  height: 28px;
  width: 28px;
  position: absolute;
  left: 8px;
  top: 8px;
}

@media only screen and (max-width: 492px) {
  .social-list li + li {
    margin-left: 3px;
  }

  .social-list {
    display: flex;
    justify-content: space-around
  }

  .social-list img {
    height: 26px;
    width: 26px;
    position: absolute;
    left: 9px;
    top: 9px;
  }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

a:focus {
  outline: 3px solid #9263DE !important;
  outline-offset: 2px !important;
}

a::-moz-focus-inner {
  border: 0;
}

/**
 * Icons CSS
 * https://github.com/govau/design-system-site/blob/master/src/sass/components/_icons.scss
 */

.anchor:before {
  content: "​";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.anchor:hover .icon {
  visibility: visible;
}
.anchor .icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  visibility: hidden;
  margin-top: -0.75rem;
  margin-left: -1.875rem;
  padding-left: 3px;
}
.anchor .icon:hover {
  visibility: visible;
}
.ie8 .anchor .icon {
  margin-left: 0;
}
.anchor .icon:before {
  width: 30px;
  height: 30px;
}

.icon:before,
.icon--right:after {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  content: " ";
  background-repeat: no-repeat;
  margin-top: -2px;
}
.lt-ie9 .icon:before,
.lt-ie9 .icon--right:after {
  display: none;
}

.icon:before {
  margin-right: 8px;
  margin-right: 0.5rem;
}

.icon--link:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='%23007099' d='M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z'/%3E%3C/svg%3E");
}
